name: Build, linters, and unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linters-unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - run: |
        pip3 install --user --upgrade j2cli
        j2 --version

    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: time make build

    - name: Linters
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.50.1
        args: --timeout 3m --verbose cmd/... pkg/... e2e/...

    - name: Test
      run: make test

    - name: Generate YAML manifests
      run: make manifests

    - name: Check manifest correctness
      run: |
        if [[ -n $(git status --porcelain 2>/dev/null) ]]; then
          echo "You probably need to run 'make manifests' and commit the changes"
          exit 1
        fi